.button{
    -fx-background-color:
            linear-gradient(#6495ED, #0000EE),
            radial-gradient(center 50% -40%, radius 200%, #4876FF 45%, #3A5FCD 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color:
            linear-gradient(#6495ED, #0000EE),
            radial-gradient(center 50% -40%, radius 200%, #0000CD 45%, #27408B 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-background-color:
            linear-gradient(#6495ED, #0000EE),
            radial-gradient(center 50% -40%, radius 200%, #27408B 45%, #000080 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ddlLogo{
    -fx-image: url(DDL.png);
    -fx-background-size: cover;
}

.dmlLogo{
    -fx-image: url(DML.png);
    -fx-background-size: cover;
}

.dbLogo{
    -fx-image: url(DB-Project.png);
    -fx-background-size: cover;
}

.answerLogo{
    -fx-image: url(Answer.png);
    -fx-background-size: cover;
}

.mainPane{
    -fx-background-image: url(background.jpg);
    -fx-background-size: cover;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab {
    -fx-background-color:
            linear-gradient(#6495ED, #0000EE),
            radial-gradient(center 50% -40%, radius 200%, #4876FF 45%, #3A5FCD 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tab-pane .tab:selected {
    -fx-background-color:
            linear-gradient(#6495ED, #0000EE),
            radial-gradient(center 50% -40%, radius 200%, #27408B 45%, #000080 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.radio-button {
    -fx-text-fill: white;
}
