/**
 * Shmuel Feld 305469801 89281-01
 * Shani Shliselberg 313288839 89-281-02
 * Ahinoam Rosengarten 308425164 89-281-02
 * Amir Halfon 308559251 89-281-02
 */

.button{
    -fx-background-color:
            linear-gradient(#91edaa, #14ee00),
            radial-gradient(center 50% -40%, radius 200%, #91edaa 45%, #afff26 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color:
            linear-gradient(#91edaa, #00ee08),
            radial-gradient(center 50% -40%, radius 200%, #91edaa 45%, #79eda1 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-background-color:
            linear-gradient(#91edaa, #3dee1c),
            radial-gradient(center 50% -40%, radius 200%, #c4c280 45%, #807a04 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ddlLogo{
    -fx-image: url(DDL.png);
    -fx-background-size: cover;
}

.dmlLogo{
    -fx-image: url(DML.png);
    -fx-background-size: cover;
}
.simpleLogo{
    -fx-image: url(simLogo.png);
    -fx-background-size: cover;
}

.dbLogo{
    -fx-image: url(DB-logo.png);
    -fx-background-size: cover;
}

.answerLogo{
    -fx-image: url(Answer.png);
    -fx-background-size: cover;
}
.tablesLogo{
    -fx-image: url(tables.png);
    -fx-background-size: cover;
}
.columnLogo{
    -fx-image: url(column.png);
    -fx-background-size: cover;
}
.whereLogo{
    -fx-image: url(where.png);
    -fx-background-size: cover;
}

.mainPane{
    -fx-background-image: url(background.jpg);
    -fx-background-size: cover;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab {
    -fx-background-color:
            linear-gradient(#91edaa, #1fee1e),
            radial-gradient(center 50% -40%, radius 200%, #91edaa 45%, #85ffc0 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tab-pane .tab:selected {
    -fx-background-color:
            linear-gradient(#91edaa, #05ee00),
            radial-gradient(center 50% -40%, radius 200%, #c4c280 45%, #807a04 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.radio-button {
    -fx-text-fill: white;
}
